.DS_Store
node_modules
package-lock.json

# Vite build output
renderer-vite/dist/

# Node modules
renderer-vite/node_modules/

# Electron distribution artifacts (e.g. .dmg, .exe, AppImage, etc.)
dist/